.form {
    width: 700px;
    background:
    radial-gradient(rgb(112, 158, 215) 3px, transparent 4px),
    radial-gradient(rgb(69, 144, 190) 3px, transparent 4px),
    linear-gradient(#eeade7 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #5682c8  75px, #5682c8  76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #5682c8  76px, #5682c8 77px, transparent 78px, transparent 109px),
    #eeade7;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }